@use '../abstract/variable';

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.main {
  padding: 2.5rem 1rem;
}

p,
a,
li,
label,
button{
  font-size: 1.8rem;
  font-family: variable.$text;
}

h1,
h2,
h3 {
  font-family: variable.$title;
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}