@use '../abstract/variable';

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

p,
a,
li,
label{
  font-size: 1.8rem;
  font-family: variable.$text;
}

h1,
h2,
h3 {
  font-family: variable.$title;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}