@use "sass:color";

// Polices
@font-face {
  font-family: "Montserrat";
  src: url("@/assets/fonts/Montserrat-Bold.ttf") format('truetype');
}

@font-face {
  font-family: "Roboto";
  src: url("@/assets/fonts/Roboto-Regular.ttf") format('truetype');
}

$title: 'Montserrat', Calibri, sans-serif;
$text: 'Roboto', Calibri, sans-serif;

// Couleurs
$primary: #eaf8f7;
$secondary: #74c2c6;
$tertiary: color.scale($secondary, $lightness: 50%);
$error: #d8000c;
