@use '../abstract/variable';
@use 'sass:color';

.main__contact {
  padding-bottom: 2.5rem;
  .main__competences__title {
    margin-bottom: 2.5rem;
  }

  .form__contact__item {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;

    input,
    textarea {
      margin-bottom: 1.2rem;
      padding: 0.5rem;
      border: 2px solid color.scale(variable.$secondary, $lightness: 50%);
      border-radius: 0.3rem;
      outline-color: variable.$secondary;
    }

    .btn__contact {
      width: 50%;
      max-width: 12.1rem;
      padding: 0.2rem 0.6rem;
      border: 2px solid variable.$secondary;
      border-radius: 0.5rem;
      background-color: variable.$primary;

    }
  }

  .contact__items {
    text-align: center;
    .contact__item {
      margin-top: 2rem;
    }
  }
}

@media screen and (min-width:768px) {
  .main__contact {
    .container__contact {
      display: flex;
      justify-content: center;
      align-items: center;

      .form__contact {
        flex: 1.5;

        & input {
          height: 4rem;
        }
      }

      .contact__items {
        flex: 1;
      }
    }
  }
}

@media screen and (min-width:1200px) {
  .contact__item a {
    font-size: 2rem;
  }
}