@use '../abstract/mixin';
@use '../abstract/variable';

.main__realisations {

  .main__competences__title {
    margin-bottom: 1rem;
  }

  .realisation__card {
    background-color: #eaf8f7;
    width: 90%;
    margin: 2.5rem auto;
    padding: 1rem;
    text-align: center;
    @include mixin.box-shadow;
    border-radius: 0.5rem;

    .card__picture {
      border: 1px solid variable.$secondary;
    }

    .card__picture,
    .card__title {
      margin-bottom: 1.5rem;
    }

    .card__title a {
      font-size: 2rem;
      color: black;
      line-height: 1.2;
    }

    .card__text {
      text-align: left;
      line-height: 1.2;
    }
  }
}