.main__competences {

  .main__competences__title {
    margin-bottom: 2.5rem;
  }

  .competence {
    margin: 2rem 1rem;
  }

  .container__logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem 2rem;
    margin: 0 2rem;

    .container__logo {
      text-align: center;

      & p {
      font-size: 1.5rem;

      }
    }
  }

  .competences__title {
    margin: 2rem 0 1rem 0;
  }

  .competences__item {
    margin-left: 2.5rem;
    line-height: 1.3;
  }
}