@use '../../abstract/variable';

.footer {
  background-color: variable.$secondary;
  text-align: center;
  padding: 1rem 0;

  .socials__links {
    font-size: 2.5rem;

    & a {
    color: black;
    }
  }
  & p {
    margin-top: 1.5rem;
    font-size: 1rem;
  }
}